/**
Colors used:
#103A4C
#FECC50
#309085
**/

@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900|Ubuntu:400,700');
h1 {
	font-size:48px;
	color: #FECC50;	
	font-family: Roboto;
	font-weight: 900;
	text-align: center;
}
h2{
	font-family: Roboto;
	color: #FECC50;
	text-align: center;
}
p{
		font-family: Roboto;
	font-size:16px;
}
img{
  width: 500px;
}
div{
	background-color: #309085;
	width: 500px;
	border-style: solid;
	border-color: #309085;
	border-width: 10px 15px;
  margin: auto;	
}
body {
  background-image: url("https://i.pinimg.com/736x/6e/80/34/6e803424135ce74a2d3098e6b7a2f0b4--megaman-zero-mega-man.jpg");
}
